pg_dump: warning: there are circular foreign-key constraints on this table:
pg_dump: detail: continuous_agg
pg_dump: hint: You might not be able to restore the dump without using --disable-triggers or temporarily dropping the constraints.
pg_dump: hint: Consider using a full dump instead of a --data-only dump to avoid this problem.
--
-- PostgreSQL database dump
--

\restrict i9W6gA1pNBK008EHcFK2db8ZpPRxnIf2IHsARIy223xEOAmOrxf46Oj9wewsIAP

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: finverse
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO finverse;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: finverse
--

COMMENT ON SCHEMA public IS '';


--
-- Name: timescaledb; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS timescaledb WITH SCHEMA public;


--
-- Name: EXTENSION timescaledb; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION timescaledb IS 'Enables scalable inserts and complex queries for time-series data (Community Edition)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: agent_outputs; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.agent_outputs (
    agent_name character varying(100) NOT NULL,
    symbol character varying(20) NOT NULL,
    output jsonb NOT NULL,
    execution_time double precision NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.agent_outputs OWNER TO finverse;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO finverse;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.audit_logs (
    user_id uuid NOT NULL,
    action character varying(255) NOT NULL,
    metadata_json jsonb NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO finverse;

--
-- Name: candlestick_patterns; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.candlestick_patterns (
    symbol character varying(20) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    pattern_name character varying(100) NOT NULL,
    signal character varying(20) NOT NULL,
    strength double precision NOT NULL,
    candlestick_score double precision NOT NULL
);


ALTER TABLE public.candlestick_patterns OWNER TO finverse;

--
-- Name: holdings; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.holdings (
    portfolio_id uuid NOT NULL,
    symbol character varying(20) NOT NULL,
    quantity numeric(15,4) NOT NULL,
    avg_price numeric(15,2) NOT NULL,
    current_price numeric(15,2) NOT NULL,
    market_value numeric(15,2) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.holdings OWNER TO finverse;

--
-- Name: ohlcv_data; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.ohlcv_data (
    symbol character varying(20) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    open double precision NOT NULL,
    high double precision NOT NULL,
    low double precision NOT NULL,
    close double precision NOT NULL,
    volume bigint NOT NULL
);


ALTER TABLE public.ohlcv_data OWNER TO finverse;

--
-- Name: portfolios; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.portfolios (
    user_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    total_value numeric(15,2) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.portfolios OWNER TO finverse;

--
-- Name: recommendations; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.recommendations (
    symbol character varying(20) NOT NULL,
    recommendation character varying(20) NOT NULL,
    confidence double precision NOT NULL,
    risk_score double precision NOT NULL,
    explanation jsonb NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.recommendations OWNER TO finverse;

--
-- Name: research_reports; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.research_reports (
    company character varying(100) NOT NULL,
    report_type character varying(50) NOT NULL,
    summary text NOT NULL,
    report_data jsonb NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.research_reports OWNER TO finverse;

--
-- Name: technical_indicators; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.technical_indicators (
    symbol character varying(20) NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    rsi double precision NOT NULL,
    mfi double precision NOT NULL,
    sma_20 double precision NOT NULL,
    ema_20 double precision NOT NULL,
    macd double precision NOT NULL,
    macd_signal double precision NOT NULL,
    adx double precision NOT NULL,
    atr double precision NOT NULL,
    obv double precision NOT NULL,
    vwap double precision NOT NULL,
    bb_upper double precision NOT NULL,
    bb_middle double precision NOT NULL,
    bb_lower double precision NOT NULL
);


ALTER TABLE public.technical_indicators OWNER TO finverse;

--
-- Name: user_profiles; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.user_profiles (
    user_id uuid NOT NULL,
    risk_tolerance character varying(50) NOT NULL,
    investment_goal character varying(100) NOT NULL,
    investment_horizon character varying(50) NOT NULL,
    annual_income numeric(15,2) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.user_profiles OWNER TO finverse;

--
-- Name: users; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.users (
    full_name character varying(255) NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying NOT NULL,
    role character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO finverse;

--
-- Name: watchlists; Type: TABLE; Schema: public; Owner: finverse
--

CREATE TABLE public.watchlists (
    user_id uuid NOT NULL,
    symbol character varying(20) NOT NULL,
    id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.watchlists OWNER TO finverse;

--
-- Data for Name: hypertable; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.hypertable (id, schema_name, table_name, associated_schema_name, associated_table_prefix, num_dimensions, chunk_sizing_func_schema, chunk_sizing_func_name, chunk_target_size, compression_state, compressed_hypertable_id, status) FROM stdin;
\.


--
-- Data for Name: bgw_job; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.bgw_job (id, application_name, schedule_interval, max_runtime, max_retries, retry_period, proc_schema, proc_name, owner, scheduled, fixed_schedule, initial_start, hypertable_id, config, check_schema, check_name, timezone) FROM stdin;
\.


--
-- Data for Name: chunk; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.chunk (id, hypertable_id, schema_name, table_name, compressed_chunk_id, status, osm_chunk, creation_time) FROM stdin;
\.


--
-- Data for Name: chunk_column_stats; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.chunk_column_stats (id, hypertable_id, chunk_id, column_name, range_start, range_end, valid) FROM stdin;
\.


--
-- Data for Name: dimension; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.dimension (id, hypertable_id, column_name, column_type, aligned, num_slices, partitioning_func_schema, partitioning_func, interval_length, compress_interval_length, integer_now_func_schema, integer_now_func) FROM stdin;
\.


--
-- Data for Name: dimension_slice; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.dimension_slice (id, dimension_id, range_start, range_end) FROM stdin;
\.


--
-- Data for Name: chunk_constraint; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.chunk_constraint (chunk_id, dimension_slice_id, constraint_name, hypertable_constraint_name) FROM stdin;
\.


--
-- Data for Name: compression_chunk_size; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.compression_chunk_size (chunk_id, compressed_chunk_id, uncompressed_heap_size, uncompressed_toast_size, uncompressed_index_size, compressed_heap_size, compressed_toast_size, compressed_index_size, numrows_pre_compression, numrows_post_compression, numrows_frozen_immediately) FROM stdin;
\.


--
-- Data for Name: compression_settings; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.compression_settings (relid, compress_relid, segmentby, orderby, orderby_desc, orderby_nullsfirst, index) FROM stdin;
\.


--
-- Data for Name: continuous_agg; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_agg (mat_hypertable_id, raw_hypertable_id, parent_mat_hypertable_id, user_view_schema, user_view_name, partial_view_schema, partial_view_name, direct_view_schema, direct_view_name, materialized_only) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_bucket_function; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_bucket_function (mat_hypertable_id, bucket_func, bucket_width, bucket_origin, bucket_offset, bucket_timezone, bucket_fixed_width) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_hypertable_invalidation_log; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_hypertable_invalidation_log (hypertable_id, lowest_modified_value, greatest_modified_value) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_invalidation_threshold; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_invalidation_threshold (hypertable_id, watermark) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_jobs_refresh_ranges; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_jobs_refresh_ranges (materialization_id, start_range, end_range, pid, job_id, created_at) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_materialization_invalidation_log; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_materialization_invalidation_log (materialization_id, lowest_modified_value, greatest_modified_value) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_materialization_ranges; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_materialization_ranges (materialization_id, lowest_modified_value, greatest_modified_value) FROM stdin;
\.


--
-- Data for Name: continuous_aggs_watermark; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.continuous_aggs_watermark (mat_hypertable_id, watermark) FROM stdin;
\.


--
-- Data for Name: metadata; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.metadata (key, value, include_in_telemetry) FROM stdin;
install_timestamp	2026-06-07 07:26:03.689925+00	t
timescaledb_version	2.27.2	f
exported_uuid	a974b696-48ee-46f9-89a6-3724612f01eb	t
\.


--
-- Data for Name: tablespace; Type: TABLE DATA; Schema: _timescaledb_catalog; Owner: finverse
--

COPY _timescaledb_catalog.tablespace (id, hypertable_id, tablespace_name) FROM stdin;
\.


--
-- Data for Name: agent_outputs; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.agent_outputs (agent_name, symbol, output, execution_time, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.alembic_version (version_num) FROM stdin;
f8a9c1d2e3b4
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.audit_logs (user_id, action, metadata_json, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: candlestick_patterns; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.candlestick_patterns (symbol, "timestamp", pattern_name, signal, strength, candlestick_score) FROM stdin;
RELIANCE	2026-06-09 10:44:31.279425+00	Bearish Engulfing	Bearish	10	40
RELIANCE	2026-06-09 10:57:49.103169+00	Bearish Engulfing	Bearish	10	40
RELIANCE	2026-06-09 11:39:45.791894+00	Bearish Engulfing	Bearish	10	40
RELIANCE	2026-06-09 18:01:55.470077+00	Bearish Engulfing	Bearish	10	40
RELIANCE	2026-06-09 18:07:19.830096+00	Bearish Engulfing	Bearish	10	40
\.


--
-- Data for Name: holdings; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.holdings (portfolio_id, symbol, quantity, avg_price, current_price, market_value, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: ohlcv_data; Type: TABLE DATA; Schema: public; Owner: finverse
--



--
-- Data for Name: portfolios; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.portfolios (user_id, name, total_value, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: recommendations; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.recommendations (symbol, recommendation, confidence, risk_score, explanation, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: research_reports; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.research_reports (company, report_type, summary, report_data, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: technical_indicators; Type: TABLE DATA; Schema: public; Owner: finverse
--



--
-- Data for Name: user_profiles; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.user_profiles (user_id, risk_tolerance, investment_goal, investment_horizon, annual_income, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.users (full_name, email, password_hash, role, is_active, id, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: watchlists; Type: TABLE DATA; Schema: public; Owner: finverse
--

COPY public.watchlists (user_id, symbol, id, created_at, updated_at) FROM stdin;
\.


--
-- Name: bgw_job_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.bgw_job_id_seq', 1000, false);


--
-- Name: chunk_column_stats_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.chunk_column_stats_id_seq', 1, false);


--
-- Name: chunk_constraint_name; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.chunk_constraint_name', 1, false);


--
-- Name: chunk_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.chunk_id_seq', 1, false);


--
-- Name: dimension_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.dimension_id_seq', 1, false);


--
-- Name: dimension_slice_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.dimension_slice_id_seq', 1, false);


--
-- Name: hypertable_id_seq; Type: SEQUENCE SET; Schema: _timescaledb_catalog; Owner: finverse
--

SELECT pg_catalog.setval('_timescaledb_catalog.hypertable_id_seq', 1, false);


--
-- Name: agent_outputs agent_outputs_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.agent_outputs
    ADD CONSTRAINT agent_outputs_pkey PRIMARY KEY (id);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: candlestick_patterns candlestick_patterns_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.candlestick_patterns
    ADD CONSTRAINT candlestick_patterns_pkey PRIMARY KEY (symbol, "timestamp");


--
-- Name: holdings holdings_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_pkey PRIMARY KEY (id);


--
-- Name: ohlcv_data ohlcv_data_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.ohlcv_data
    ADD CONSTRAINT ohlcv_data_pkey PRIMARY KEY (symbol, "timestamp");


--
-- Name: portfolios portfolios_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_pkey PRIMARY KEY (id);


--
-- Name: recommendations recommendations_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.recommendations
    ADD CONSTRAINT recommendations_pkey PRIMARY KEY (id);


--
-- Name: research_reports research_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.research_reports
    ADD CONSTRAINT research_reports_pkey PRIMARY KEY (id);


--
-- Name: technical_indicators technical_indicators_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.technical_indicators
    ADD CONSTRAINT technical_indicators_pkey PRIMARY KEY (symbol, "timestamp");


--
-- Name: user_profiles user_profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watchlists watchlists_pkey; Type: CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_pkey PRIMARY KEY (id);


--
-- Name: ix_agent_outputs_symbol; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_agent_outputs_symbol ON public.agent_outputs USING btree (symbol);


--
-- Name: ix_audit_logs_user_id; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: ix_holdings_portfolio_id; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_holdings_portfolio_id ON public.holdings USING btree (portfolio_id);


--
-- Name: ix_holdings_symbol; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_holdings_symbol ON public.holdings USING btree (symbol);


--
-- Name: ix_portfolios_user_id; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_portfolios_user_id ON public.portfolios USING btree (user_id);


--
-- Name: ix_recommendations_symbol; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_recommendations_symbol ON public.recommendations USING btree (symbol);


--
-- Name: ix_research_reports_company; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_research_reports_company ON public.research_reports USING btree (company);


--
-- Name: ix_user_profiles_user_id; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_user_profiles_user_id ON public.user_profiles USING btree (user_id);


--
-- Name: ix_users_email; Type: INDEX; Schema: public; Owner: finverse
--

CREATE UNIQUE INDEX ix_users_email ON public.users USING btree (email);


--
-- Name: ix_watchlists_symbol; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_watchlists_symbol ON public.watchlists USING btree (symbol);


--
-- Name: ix_watchlists_user_id; Type: INDEX; Schema: public; Owner: finverse
--

CREATE INDEX ix_watchlists_user_id ON public.watchlists USING btree (user_id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: holdings holdings_portfolio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.holdings
    ADD CONSTRAINT holdings_portfolio_id_fkey FOREIGN KEY (portfolio_id) REFERENCES public.portfolios(id);


--
-- Name: portfolios portfolios_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.portfolios
    ADD CONSTRAINT portfolios_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_profiles user_profiles_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.user_profiles
    ADD CONSTRAINT user_profiles_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: watchlists watchlists_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: finverse
--

ALTER TABLE ONLY public.watchlists
    ADD CONSTRAINT watchlists_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: finverse
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict i9W6gA1pNBK008EHcFK2db8ZpPRxnIf2IHsARIy223xEOAmOrxf46Oj9wewsIAP

